{% extends "base.html" %}

{% block titulo %} Métodos lineales {% endblock titulo %}

{% block contenido %} 

 <h2>Seleccione el método que quiera usar</h2>

 <li class="nav-item dropdown">
    <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{% url 'biseccion' %}">Bisección</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" >Busquedas incrementales</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" >Newton</a></li>
    </ul>
  </li>

{% endblock contenido %}
    