<h1>Solución por el método Vandermonde</h1>

<body>
    <form enctype="multipart/form-data" method="post"> 
        {% csrf_token %}
     
        
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Matriz A:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="Matriz A">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Matriz B:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" placeholder="Matriz B">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-10">
             <button type="submit" class="btn btn-primary">Calcular</button>
            </div>
        </div>
    </form>


    <form method ="GET" action="/">
        <button href="home.html">Menú Principal</button>
    </form> 
</body>
</html>
