
<h1>Pagina de Bisección</h1>

<form enctype="multipart/form-data" method="post"> 
    {% csrf_token %}
 
    <div class="mb-3">
        <label for="" class="form-label">Xi:</label>
        
        <input type="text"
        class="form-control" name= "" id="" aria-describedby="helpId" placeholder="valor inicial">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Xs:</label>
        
        <input type="text"
        class="form-control" name= "" id="" aria-describedby="helpId" placeholder="valor n">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Tol:</label>
        
        <input type="text"
        class="form-control" name= "" id="" aria-describedby="helpId" placeholder="Tolerancia">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">nIter:</label>

        <input type="text"
        class="form-control" name= "" id="" aria-describedby="helpId" placeholder=" # iteraciones">
    </div>
    <button type="SUBMIT">Calcular</button>
</form>
 <!--  
    <tr>
    <input name="xi">xi
</tr>   
    <input name="xs">xs
    <input name="Tol">Tol
    <input name="niter">nIter
    
</form>
--> 
<form method ="GET" action="/">
    <button href="home.html">Menu Principal</button>

</form>
