<h1>Solución por el método Gauss</h1>

<body>
    <form enctype="multipart/form-data" method="post"> 
        {% csrf_token %}
     
        
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Matriz A:</label>
            <div class="col-sm-10">
              <input type="text" name = 'matA'class="form-control" id="" placeholder="Matriz A">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Vector B:</label>
            <div class="col-sm-10">
              <input type="text" name = 'vecb' class="form-control" id="" placeholder="Vector B">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Norma vectorial:</label>
            <div class="col-sm-10">
              <input type="text" name = 'normaV'class="form-control" id="" placeholder="norma vectorial">
            </div>
        </div>

        <div class="form-group row">
            <p > Ingrese que tipo de pivoteo quiere: sin pivoteo piv=0, pivoteo parcial piv=1 o pivoteo totalpiv=2</p>
            <label for="" class="col-sm-2 col-form-label">pivoteo:</label>
            <div class="col-sm-10">
              <input type="text" name = 'piv' class="form-control" id="" placeholder="pivoteo">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Norma euclidiana:</label>
            <div class="col-sm-10">
              <input type="text" name = 'normae'class="form-control" id="" placeholder="norma euclidiana">
            </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Calcular</button>
           </div>
      </div>
    </form>

    <form method ="GET" action="/">
        <button href="home.html">Menú Principal</button>
    </form> 
</body>
</html>

