<h1>Solución por Pivoteo</h1>

<body>
  {% if msg %}
      <p>{{ msg }}</p>

      <form method ="GET" >
        <button href="sistemasDeEcua/pivoteos.html">Volver</button>
    </form> 
    {% else %}
    <form enctype="multipart/form-data" method="post"> 
        {% csrf_token %}
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Matriz A:</label>
            <div class="col-sm-10">
              <input type="text" name = 'matA'class="form-control" id="" placeholder="Matriz A"> ejemplo: [[3,-1,-0.3],[0.1,7,3],[0.3,-0.2,10]]
            </div>
        </div>
    
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Vector B:</label>
            <div class="col-sm-10">
              <input type="text" name = 'vecb' class="form-control" id="" placeholder="Vector B"> ejemplo: [[7],[-18.3],[71.4]]
            </div>
        </div>
      
      <div class="form-group row">
        <p > Ingrese que tipo de pivoteo desea: pivoteo parcial piv=1 o pivoteo totalpiv=2</p>
        <label for="" class="col-sm-2 col-form-label">pivoteo:</label>
        <div class="col-sm-10">
          <input type="text" name = 'piv' class="form-control" id="" placeholder="pivoteo">
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Calcular</button>
       </div>
  </div>
    </form>
    {% endif %}
    <form method ="GET" action="/">
        <button href="home.html">Menú Principal</button>
    </form> 
</body>
</html>
